.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    padding: 1em 1.1em;
    background-color: #1c1c1c;
    border-right: 1px solid rgb(37, 37, 37);
    transition: all .4s ease;
    z-index: 100;
}

.profile{
    color: #f6f6f6;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    margin: .4em 0 1.5em;
    text-align: center;

    h3{
        color: #f6f6f6;
        font-size: 18px;
        font-weight: 600;
    }

    p{
        color: #bcbcbc;
        font-size: 14px;
        text-align: start;
    }
}

.profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 1.2em;

    img{
        border-radius: 50%;
        height: 100%;
    }
}

.collapse-btn{
    position: absolute;
    right: -12px;
    top: 30px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgb(37, 37, 37);
    background-color: #1c1c1c;
    font-size: 18px;
    color: #858585;
    cursor: pointer;
}
nav{
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    overflow: hidden;

    a.active{
        border-color: #4b4b4b;
        background-color: rgb(37, 37, 37);
        color: #f6f6f6;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
    }

    .identifier{
        position: absolute;
        right: 8px;
        padding: 0 4px;
        border-radius: 4px;
        font-size: 12px;
        border: 1px solid #4b4b4b;
    }
}
.social, .sidebar-head{
    overflow: hidden;
}
.nav-link{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 15px;
    background-color: transparent;
    color: #858585;
    padding: 8px;
    margin-bottom: 4px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    transition: all .3s ease-in;

    :hover{
        color: #f6f6f6;
    }
    i{
        font-size: 20px;
    }
}

.identifier{
    transition: .3s opacity ease;

    .arrow{
        position: absolute;
        right: 8px;
        top: 10px;
        padding: 3px 1px;
        border-radius: 4px;
        font-size: 13px;
        border: 1px solid #4b4b4b;
    }
}

.shortcut-title{
    font-size: 14px;
    color: #959595;
    font-weight: 500;
    margin: .5em 2em 0;
}

.collapse{
    width: 72px;
    white-space: nowrap;

    .nav-link span, .hide{
        opacity: 0;
        transition: .3s ease;
    }

    .collapse-btn{
        transform: rotate(180deg);
    }
    
    .identifier{
        opacity: 0;
    }
}